version: '1.0'
services:
  mariadb:
    container_name: "dotori_db"
    image: mariadb
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: changeitwhenitreleased
      MYSQL_USER: changeitwhenitreleased
      MYSQL_PASSWORD: changeitwhenitreleased
      MYSQL_DATABASE: dotori
    restart: on-failure
  server:
    container_name: "dotori_server"
    build: .
    ports:
      - "5000:5000"
    command:
      - bash
        - -c
        - |
          /wait-for-it.sh mariadb:3306 -t 10
          yarn start
    environment:
      PORT: 5000
      DATABASE_NAME: dotori
      DATABASE_HOST: host.docker.internal
      DATABASE_ID: changeitwhenitreleased
      DATABASE_PW: changeitwhenitreleased

      USER_DATABASE_NAME: bean_user
      USER_DATABASE_HOST: host.docker.internal
      USER_DATABASE_ID: changeitwhenitreleased
      USER_DATABASE_PW: changeitwhenitreleased
    restart: on-failure