version: '3.1'
services:
  mariadb:
    container_name: "dotori_db"
    image: mariadb
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: changeitwhenitreleased
      MYSQL_USER: changeitwhenitreleased
      MYSQL_PASSWORD: changeitwhenitreleased
      MYSQL_DATABASE: dotori
    restart: on-failure
  redis:
    container_name: "dotori_session_store"
    image: redis
    ports:
      - "6379:6379"
  server:
    depends_on:
      - mariadb
      - redis
    container_name: "dotori_server"
    build: .
    ports:
      - "5000:5000"
    command: yarn fast-start
    environment:
      PORT: 5000
      DATABASE_NAME: dotori
      DATABASE_HOST: host.docker.internal
      DATABASE_ID: changeitwhenitreleased
      DATABASE_PW: changeitwhenitreleased

      USER_DATABASE_NAME: bean_user
      USER_DATABASE_HOST: host.docker.internal
      USER_DATABASE_ID: root
      USER_DATABASE_PW: changeitwhenitreleased

      REDIS_HOST: redis
    restart: on-failure
    links:
      - redis
      - mariadb
    image: gsmbeansil/dotori-api